
*{margin: 0;
  padding: 0;
}
 .App{
  background-color: black;
} 



.nav_black {
    background-color: rgb(20, 20, 20);
}

.header_container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}


