
*{margin: 0;
  padding: 0;
}
.App{
  background-color: beige;
}
.header_outer_container {
    position: sticky;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    height: 10vh;
    color: white;
    transition: all 0.5s ease-in;
    z-index: 1;
    /* Optional: Add background color for active state */
    /* background-color: rgb(148, 132, 132); */
}

.nav_black {
    background-color: rgb(20, 20, 20);
}

.header_container {
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

